* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
